{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<img width="200" height="200" src="{% static avatar %}" alt="">
<h2>имя кота: {{ name }}</h2>
<p>возраст кота {{ age }}</p>


<form action="" method="post">
    {% csrf_token %}
    <label>выберете действие</label>
    <select name="action">
        <option value="play">играть</option>
        <option value="feed">кормить</option>
    </select>
    <button>подтвердить</button>
</form>

</body>
</html>